---

import Layout from '../layouts/Layout.astro';
import CartSummary from '../components/cart-summary.astro';



---

<Layout>
	<main>
		<h2>This is a cart</h2>
		<CartSummary/>
	</main>
  </Layout>
