---
import { isRenderTemplateResult } from 'astro/runtime/server/render/astro/render-template.js';
import Layout from '../layouts/Layout.astro';

import ProductGallery from '../components/product-gallery.astro';



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<h2>Hello World</h2>
		<ProductGallery title="ProductGallery"></ProductGallery>

  </Layout>
  <script>
	const title = document.querySelector<HTMLHeadingElement>(".hello-world")!;
	fetch("http://localhost:5187/api/v1/Hello")
	  .then((result) => result.text())
	  .then(text => console.log(`%c ${text}`, "color:green;", "Look like the backend is avo"))
	  .catch(() => console.error("Baceknd is down or unavailable"))
  </script>
